@model FilesViewModel
@using Common.DataModels.IdentityManagement
@using CQuerMVC.Helpers;

@{
    ViewData["Title"] = "Files";
}
<div class="box">
    <h2> FILES </h2>
    <table class="table table-striped table-bordered table-dark table-style">
        <tr>
            <td>File Name</td>
            <td>Checksum</td>
            <td>Upload Date</td>
            <td>Checksum from ticket matches</td>
            <td>Checksum from remote matches</td>
            <td>Actions</td>
        </tr>
        @foreach (var item in Model.Files)
        {
    <tr style="word-break: break-all">
        <td>@item.FileName</td>
        <td>@item.Sha256Checksum</td>
        <td>@item.UploadDate</td>
        <td>@item.ChecksumMatchWithDeclared.ToYesNoString()</td>
        <td>@item.ChecksumMatchWithRemote.ToYesNoString()</td>
        <td style="width: 15%">
            <form asp-controller="Files" asp-action="Download">
                <input name="id" type="hidden" asp-for="@item.Id" />
                <input name="fileName" type="hidden" asp-for="@item.FileName" />
                <button class="btn-primary bg-info">Download</button>
            </form>
            @if (User.IsInRole(AccountType.Administrator.ToString()))
            {
                <br />
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn-secondary bg-danger p-1">Remove</a>
                @if (!item.ChecksumMatchWithRemote)
                {
                    <br />
                    <form asp-controller="Files" asp-action="ValidateWithCrawler">
                        <input name="id" type="hidden" asp-for="@item.Id" />
                        <button class="btn-primary bg-info">Validate With Crawler</button>
                    </form>
                }
            }
        </td>
    </tr>
        }
    </table>
</div>