@model FilesViewModel
@using Common.DataModels.IdentityManagement
@using CQuerMVC.Helpers;

@{
    ViewData["Title"] = "Files";
}

<table class="table table-striped table-bordered table-dark">
    <tr>
        <td>File Name</td>
        <td>Checksum</td>
        <td>Upload Date</td>
        <td>Checksum from ticket matches</td>
        <td>Checksum from remote matches</td>
        <td>Actions</td>
    </tr>
    @foreach (var item in Model.Files)
    {
        <tr>
            <td>@item.FileName</td>
            <td>@item.Sha256Checksum</td>
            <td>@item.UploadDate</td>
            <td>@item.ChecksumMatchWithDeclared.ToYesNoString()</td>
            <td>@item.ChecksumMatchWithRemote.ToYesNoString()</td>
            <td>
                <form asp-controller="Files" asp-action="Download">
                    <input name="id" type="hidden" asp-for="@item.Id" />
                    <input name="fileName" type="hidden" asp-for="@item.FileName" />
                    <button>Download</button>
                </form>
                @if (User.IsInRole(AccountType.Administrator.ToString()))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Remove</a>
                }
            </td>
        </tr>
    }
</table>